<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.roberto.storetopics">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".admin.AdminActivity" />
        <activity android:name=".admin.CustomerActivity" />
        <activity android:name=".admin.EditCustomerActivity" />
        <activity android:name=".admin.ProductActivity" />
        <activity android:name=".admin.EditProductActivity" />
        <activity android:name=".admin.CategoryActivity" />
        <activity android:name=".admin.EditCategoryActivity" />
        <activity android:name=".admin.AddCouponActivity" />
        <activity android:name=".admin.ReportActivity" />
        <activity android:name=".admin.ReportGenerateActivity" />
        <activity android:name=".admin.PastelActivity" />
        <activity android:name=".admin.BarrasActivity" />
        <activity android:name=".admin.AddProductActivity" />
        <activity android:name=".admin.AddCategoryActivity"/>
        <activity android:name=".customers.FiltroActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".customers.AgregarCarritoActivity" />
        <activity android:name=".customers.CheckOutActivity" />
        <activity android:name=".customers.ShippingFormActivity" />
        <activity android:name=".customers.ClienteActivity" />
        <activity android:name=".customers.ProductosActivity" />
        <activity android:name=".customers.EditCustomerActivity" />
        <activity android:name=".customers.StatusActivity" />
        <activity android:name=".customers.SelectStatusActivity" />
        <activity android:name=".customers.ShippingFormCustomerActivity"></activity>
    </application>

</manifest>